{markers -> f:format.raw()}
<div{attributes -> f:format.raw()}></div>

<f:for each="{markersArray}" as="marker" iteration="iterator">
	<script type="application/json" id="markers{mapId}-{iterator.index}">
		{marker.properties -> f:format.json() -> f:format.htmlentitiesDecode()}
	</script>
</f:for>

<f:render partial="GoogleMap/LoadMapJsScript" arguments="{mapId: mapId}" />

<script type="text/javascript">
loadMap{mapId}(
	'{mapId}',
	{jsVars.mapOptions -> f:format.json() -> f:format.htmlentitiesDecode()},
	{jsVars.styles -> f:format.json() -> f:format.htmlentitiesDecode()},
	{jsVars.styledMapOptions -> f:format.json() -> f:format.htmlentitiesDecode()},
	{jsVars.mapTypeId}
);
</script>
